<h1>Seja Bem-vindo!</h1>
<h4><%= nome_aplicacao %></h4>
<p>
  <strong>Data:</strong>
  <%= data_br Date.today %>
</p>

<%= render 'menu' %>

<p>
  Você está em ambiente de
  <strong>
    <%= ambiente_rails %>
  </strong>
</p>

<p>
  Eu sou uma variável de instância/sessão passada como query parameter:
  <strong><%= @nome %></strong>
</p>
<p>
  Meu curso é de
  <strong><%= @curso %></strong>
</p>